/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}
html,body {
    margin:0;
    padding:0;
}

/* My CSS */

nav {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 150px;
    padding-right: 50px;
    background:#136caa; /*for unsupported browsers*/
	background: -webkit-linear-gradient(top, #136caa, #4f98cb);
	background: -moz-linear-gradient(top, #136caa, #4f98cb);
	background: -o-linear-gradient(top, #136caa, #4f98cb);
	background: -ms-linear-gradient(top, #136caa, #4f98cb);
	background: linear-gradient(top, #136caa, #4f98cb);
    color: white;
    z-index: 1;
}

canvas#solarsystem {
    position: absolute;
    top: 0px;
    left: 200px;
    width: 100%;
    height: 100%;
    z-index: 0;
}

article {

    z-index: 20;
}